body {
  font-family: Arial;
  padding: 30px;
}

h1 {
  color: #333;
}

input, button {
  padding: 10px;
  margin: 5px;
}

table {
  margin-top: 20px;
  width: 100%;
}

canvas {
  max-width: 500px;
  margin-top: 20px;
}
